<!DOCTYPE html>
<html>
<head>
  <title>Embedded Challenge</title>
  <style>
  [data-qualified-embed] {
    position: relative;
  }
  [data-qualified-embed] iframe {
    width: 100%;
    height: 60vh;
    border: none;
  }
  </style>
</head>
<body>

<h1>Embedded Challenge</h1>

<h2>p5.js Project</h2>
<div data-qualified-embed="5ec2f97e5c19b1000ae24cd2"></div>

<script src="//www.qualified.io/embed.js"></script>
<script>
  // Note: This page will only work on these domains:
  // localhost
    // 127.0.0.1
    // codepen.io
    // https://codepen.io/pen/
    // glitch.com
    // glitch.me
    // https://softer.glitch.me
    // softer.glitch.me
  var manager = window.QualifiedEmbed.init({
    // generate editors by looking through nodes
    autoCreate: true,

    // shared options for new editors
    options: {
      embedClientKey: "g39RsSfAYEkyRG8ZYjxrpT9c/XqnfQpN"
    },

    // challenge-specific options
    challengeOptions: {
      "5ec2f97e5c19b1000ae24cd2": {
        language: "javascript",
        hideTabs: "instructions,runnerframe",
        theme: "dark",
        autoStart: false,
        initialFiles: { // FIXME
          "foo.js": "testing",
          "baz.js": "1 2 testing",
        },
      }
    },

    // The following events can also be handled per-challenge
    onLoaded({ manager, editor, challengeId, data }) {
      // Respond to challenge being loaded
      console.log("challenge loaded");

      editor.setFileContents({"test.js": "testing 1 2"}); // FIXME
    },
    onChange({ manager, editor, challengeId, data }) {
      // save changes made to the solution
    },
    onRun({ manager, editor, challengeId, data }) {
      console.log("challenge " + challengeId + " was run with this result:");
      console.log(data);

      editor.update({challegeId: challengeId, reload: true}) // FIXME
    }
  });

  // This demo uses autoCreate. If you prefer, you can set autoCreate to false, and create editors with code like this:
  //var node = document.querySelector("[data-qualified-embed='5ec2f97e5c19b1000ae24cd2']");
  //var editor = manager.createEditor({ node: node, challengeId: "5ec2f97e5c19b1000ae24cd2", options: { /* per-challenge options */ 
  //  onLoaded({ manager, editor, challengeId, data }) {
  //    // Respond to challenge being loaded
  //    console.log("loaded", editor.setFileContent);
  //    console.log(editor.setFileContents({"./ex.js": "asdfasdasd"}));
  //  },
  //  onChange({ manager, editor, challengeId, data }) {
  //    // save changes made to the solution
  //    //console.log(editor, challengeId, data);
  //    console.log(editor.setFileContents({"./ex.js": "asdfasdasd"}));
  //  },
  //}});

</script>
</body>
</html>

