<!DOCTYPE html>
<html>
<head>
  <title>Vanilla SPA</title>
  <meta name="description" content="A single page application in vanilla JS">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="/index.js"></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
