<!DOCTYPE html>
<html>
<head>
  <title>Embedded Challenge Demo</title>
  <link rel="stylesheet" href="style.css">
  <!--<script src="https://www.qualified.io/embed/js/embed-embed.min.js" defer></script>-->
  <script src="//www.qualified.io/embed.js"></script>
  <script src="solutions.js" defer></script>
  <script src="client.js" defer></script>
</head>
<body>
  <h2>Embedded Carry-Forward Demo</h2>
  <p>
    This is a minimal demonstration of how you can carry the 
    candidate's solution code forward to the next challenge.
  </p>
  <div id="qualified-embed"></div>
  <button id="get-solution">I give up--give me the solution!</button>
  <button id="next-challenge" disabled>next challenge</button>
</body>
</html>
