* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: #262626;
  color: #ddd;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
}

nav {
  background: #222;
  padding: 0.1em;
}
nav > ul {
  list-style: none;
  padding: 0;
}
nav > ul > li {
  display: inline;
}

header {
  padding: 1em;
}

main {
  padding: 1em;
}
