* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: #333;
  color: #eee;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: white;
}

nav {
  height: 100px;
}
nav > ul {
  list-style: none;
  padding: 0;
}

main {
  padding: 1em;
}